@{
    ViewData["Title"] = "Edit user";
}
@model User

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="UserPanel" asp-action="SearchUsers">Search sourse</a>

    <form asp-action="SaveEdit" asp-controller="UserPanel" method="POST">
        <table class="table">
            <tr>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Телефон</th>
                <th>День рождения</th>
                <th>Права</th>
                <th></th>
            </tr>

            <tr>
                <td>
                    <input asp-for="PIB" type="text" maxlength="100" size="30" value="@Model.PIB">
                </td>
                <td>
                    <input asp-for="Login" type="text" maxlength="50" size="30" value="@Model.Login">

                </td>
                <td>
                    <input asp-for="Phone" type="text" maxlength="100" size="30" value="@Model.Phone">
                </td>
                <td>
                    <input asp-for="Birthday" type="text" maxlength="10" size="10" value="@Model.Birthday">
                </td>
                <td>
                    <input asp-for="Rights" type="text" maxlength="20" size="10" value="@Model.Rights">
                </td>
                <td>
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    </form>
</div>